<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org">
<suite name="Suite Portfolio E-commerce">
    <test name="Pruebas de Regresion Senior">
        <classes>
            <class name="com.ecommerce.tests.LoginTest" />
            <class name="com.ecommerce.tests.CompraTest" />
            <class name="com.ecommerce.tests.FlujoCompletoTest" />
        </classes>
    </test>
</suite>

